* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

nav {
    display: flex;
    height: 50px;
    font-size: 1.7rem;
}

a {
    color: #464243;
    margin-right: 20px;
    padding: 10px;
}

header {
    color: #464243;
    width: 100%;
    height: 800px;
    background-image: url("SpyPicPortfolio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-text {
    width: 40%;
    padding-left: 50px;
    padding-top: 50px;
}

.about-me {
    display: flex;
    flex-direction: column;
    background-color: #E3E0B7;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}

h1 {
    font-size: 7rem;
}

p {
    font-size: 1rem;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #E3E0B7;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio>article {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 10px;
    background-color: #2E6D9F;
    opacity: 90%;
    padding: 10px;
    border-radius: 15px;
    border: 5px solid black;
    height: 400px;
}

.portfolio img {
    border-radius: 15px;
    height: 60%;
}

.portfolio-intro {
    display: flex;
    background-color: #E3E0B7;
    padding-left: 50px;
}