* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Oswald, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}


/* Nav Section */

nav {
    display: flex;
    height: 50px;
    font-size: 1.7rem;
}

a {
    color: #464243;
    margin-right: 20px;
    padding: 10px;
}


/* header section */

header {
    color: #464243;
    width: 100%;
    height: 800px;
    background-image: url("SpyPicPortfolio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-text {
    width: 40%;
    padding-left: 50px;
    padding-top: 50px;
}

h1 {
    font-size: 7rem;
}


/* about me section */

.about-me {
    display: flex;
    flex-direction: column;
    background-color: #E3E0B7;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}

p {
    font-size: 1rem;
}


/* Porfolio section */

.portfolio-intro {
    display: flex;
    background-color: #E3E0B7;
    padding-left: 50px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #E3E0B7;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.portfolio>article {
    display: flex;
    flex-direction: column;
    min-width: 29%;
    max-width: 30%;
    margin: 10px;
    background-color: #2E6D9F;
    opacity: 90%;
    padding: 10px;
    border-radius: 15px;
    border: 5px solid black;
    height: 400px;
}

.portfolio p {
    font-size: 0.75rem;
}

.portfolio img {
    border-radius: 15px;
    height: 60%;
}


/* Contact section */

.contact {
    display: flex;
    padding-left: 50px;
    background-color: #4DA78B;
    border-top: 5px solid black;
}

.contact-form {
    width: 100%;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

button {
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    background-color: #2E6D9F;
    color: #fff;
    box-shadow: none;
}


/* footer section*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: #2E6D9F;
    border-top: 5px solid black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}


/* Media Queries*/

@media screen and (max-width: 900px) {
    .portfolio>article {
        min-width: 40%;
    }
}

@media screen and (max-width: 750px) {
    header {
        height: 600px;
    }
    nav {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 4rem;
    }
    .header-text>h4 {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .portfolio>article {
        min-width: 90%;
    }
    nav {
        display: none;
    }
    button {
        width: 40%;
    }
}