                * {
                    box-sizing: border-box;
                }
                
                body {
                    margin: 0 auto;
                    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 23px;
                    background-image: url("SpyPicPortfolio.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                nav {
                    display: flex;
                    justify-content: space-around;
                    background-color: #464243;
                    height: 50px;
                }
                
                a {
                    color: #10AA8A;
                    margin: 10px;
                }
                
                header {
                    color: #464243;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    margin: 50px;
                    width: 30%;
                }